createdAt: "2021-11-17T08:04:41.100Z"
updatedAt: "2021-11-17T08:08:47.797Z"
type: "MARKDOWN_NOTE"
folder: "1caa3b85f7d9c823c9a6"
title: "Html Form update, insert, delete"
tags: []
content: '''
  # Html Form update, insert, delete
  
  !!! note barang_list.html
  ```html
  {% extends "barang/base.html" %}
  
  {% block content %}
  
  <table class="table table-borderless">
      <thead class="border-bottom font-weight-bold">
          <tr>
              <td>Nama Barang</td>
              <td>Harga</td>
              <td>Jumlah</td>
              <td>Position</td>
              <td>
                  <a href="{% url 'barang_insert' %}" class="btn text-secondary px-0">
                      <i class="fas fa-plus-square fa-lg"> Tambah Baru</i>
                  </a>
              </td>
          </tr>
      </thead>
      <tbody>
          {% for barang in barang_list %}
              <tr>
                  <td>{{barang.namabarang}}</td>
                  <td>{{barang.harga}}</td>
                  <td>{{barang.jumlah}}</td>
                  <td>{{barang.position}}</td>
                  <td>
                      <a href="{% url 'barang_update' barang.id %}" class="btn text-secondary px-0">
                          <i class="far fa-edit fa-lg"></i>
                      </a>
                      <form action="{% url 'barang_delete' barang.id %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="btn">
                              <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                          </button>
                      </form>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  
  {% endblock content %}
  ```
  !!!
  
  <a href="{% url 'barang_insert' %}"
  ~ Untuk link menuju barang_insert
  
  <a href="{% url 'barang_update' barang.id %}"
  ~ Untuk menuju barang_update dengan param id
  
  <form action="{% url 'barang_delete' barang.id %}"
  ~ Untuk delete dengan param barang.id
  
  {% csrf_token %}
  ~ Untuk token, kalau mau melakukan delete / insert butuh token ini
  
  !!! note barang_form.html
  ```html
  {% extends "barang/base.html" %}
  {% load crispy_forms_tags %}
  
  {% block content %}
  <form action="" method="post" autocomplete="off">
      {% csrf_token %}
      <!-- {{form|crispy}} -->
      {{form.namabarang|as_crispy_field}}
      {{form.harga|as_crispy_field}}
      {{form.jumlah|as_crispy_field}}
      <div class="row">
          <div class="col-md-4">
              {{form.keterangan|as_crispy_field}}
          </div>
          <div class="col md-8">
              {{form.position|as_crispy_field}}
          </div>
      </div>
      <div class="col-md-12 mt-3">
          <button type="submit" class="btn btn-success col-12 btn-lg"><i class="fas fa-database"></i> Save</button>
      </div>
      <div class="col-md-12 mt-3">
          <a href="{% url 'barang_list' %}" class="btn btn-secondary col-12 btn-lg"><i class="fas fa-stream"></i>List</a>
      </div>
  </form>
  
  {% endblock content %}
  ```
  !!!
'''
linesHighlighted: []
isStarred: false
isTrashed: false
