createdAt: "2021-11-18T06:22:44.894Z"
updatedAt: "2021-11-30T00:04:39.435Z"
type: "MARKDOWN_NOTE"
folder: "567a491cb44891144d0f"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
